<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger{36}]: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Set S3 Storage to DEBUG level -->
        <Logger name="io.github.scuba10steve.s3" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Root logger at INFO level -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
